.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
}

header {
  grid-row: 1 /2;
  grid-column: 1/6;
  background-color: aliceblue;
}

.block-nav {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #f8cc34;
}

main {
  grid-row: 2/3;
  grid-column: 2/5;
  background-color: white;
}

aside {
  grid-row: 2/3;
  grid-column: 5/6;
  background-color: #f7aa34;
}

footer {
  grid-row: 3/4;
  grid-column: 1/6;
}
