* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Momo Trust Sans", sans-serif;
  color: #333;
  line-height: 1.2;
}

/* Section 1 */
.toto1 {
  background-image: url(img/leaves-7634894_1280.jpg);
  background-size: 100%;
  height: 700px;
}

.toto1 h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 700;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.toto1 article {
  color: white;
  box-sizing: border-box;
  width: 300px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.div1 {
  font-weight: 600;
  color: #555;
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 100px;
  width: 130px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-left: 120px;
}
